body {
    margin: 0;
    background-color: #F6F3F1;

}



.container {
    margin: 0px 360px;
}

.Title {
    background-image: url(Rectangle%20997.png);
    height: 81px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.logo {
    margin-top: 10px;
}

.Title-logo {
    display: flex;
}

.text-Title {
    margin-top: 33px;
    margin-left: 23px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 12px;
}

.Header-title {
    display: flex;
}

.nav {

    justify-content: center;
    margin-left: 97px;
    margin-top: 33px;
}

.nav-item {
    padding-right: 50px;
    color: #fff;
    text-decoration: none;
}

.bag {
    display: flex;
}

.bag-img {
    margin-top: 15px;
}

.Text-bag {
    margin-top: 32px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700px;
}




.main-page {
    background-image: url(bg%201.png);
    height: 615px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-ph {
     text-align: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: -125px;
}

.main-elipse {
    justify-content: center;
    margin-top: -30px;
    display: flex;
    height: 11Spx;
}

.elipse {
    margin-right: 15px;
}

.main-elipse:after {
    position: absolute;
    content: '';
    height: 0.9px;
    width: 62px;
    background-color: #FFFFFF73;
    margin-left: 145px;
    margin-top: 4px;
}

.main-elipse:before {
    position: absolute;
    content: '';
    height: 0.9px;
    width: 62px;
    background-color: #FFFFFF73;
    margin-right: 175px;
    margin-top: 4px;
}

.main-text {
  padding-top: 100px;
font-family: Comfortaa;
font-size: 48px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;

}
.line {
  padding-left: 130px;
  padding-bottom: 60px;
}

.fotos {
  display: flex;
  justify-content: center;

}
.foto {
  margin-right: 60px;

}
.foto3 {
  margin-left: 60px;
}

.vid {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}


.slogo {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.foto-mone {
  margin-right: 100px;
}

.main1 {
  padding-bottom: 30px;
}

.text1 {
font-family: Nexa;
font-size: 18px;
font-weight: 300;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 20px;

}

.b {
font-family: Nexa;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
background-color: #744F41;
padding: 10px 53px;
border-radius: 6px;
border-color:  #744F41;
}
